<h1>for variable in colecction</h1>

In [4]:
fruits = ["Apple","Banana","Watermelon","Pineaplle"]
for fruit in fruits:

    print(f"Nama Buah : {fruit}")

Nama Buah : Apple
Nama Buah : Banana
Nama Buah : Watermelon
Nama Buah : Pineaplle

In [6]:
#contoh 
#carilah nilai rata rata nilai pemograman phyton di kelas TI24F

nilaiPhyton = [80,100,90,70,70,50,40]
total = 0  
for nilai in nilaiPhyton:
    total += nilai

rata2 = total / len(nilaiPhyton)
print(f"Nilai Rata-rata : {rata2}")

Nilai Rata-rata : 71.42857142857143

In [8]:
#Enumerate
month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Agust","Sep","Okt","Nov","Des"]
for i, m in enumerate(month):
    print(f"{i} : {m}")

0 : Jan
1 : Feb
2 : Mar
3 : Apr
4 : May
5 : Jun
6 : Jul
7 : Agust
8 : Sep
9 : Okt
10 : Nov
11 : Des

In [36]:
kampus = input("Isikan Nama Kampus:")
listVokal = ["a","i","u","e","o"]
total = 0 
isVokal =""
for karakter in kampus:
    if karakter in listVokal:
        total +=1
        isVokal = "Huruf Vokal"
    else:
        isVokal = "Bukan Huruf Vokal"
    print(f"{karakter} adalah {isVokal} Total:{total}") #berapa banyak jumlah huruf vokal 'a,i,u,e,o'
print(f"Jumlah Total huruf Vokal : {total}")

Isikan Nama Kampus: institut pertanian bogor

i adalah Huruf Vokal Total:1
n adalah Bukan Huruf Vokal Total:1
s adalah Bukan Huruf Vokal Total:1
t adalah Bukan Huruf Vokal Total:1
i adalah Huruf Vokal Total:2
t adalah Bukan Huruf Vokal Total:2
u adalah Huruf Vokal Total:3
t adalah Bukan Huruf Vokal Total:3
  adalah Bukan Huruf Vokal Total:3
p adalah Bukan Huruf Vokal Total:3
e adalah Huruf Vokal Total:4
r adalah Bukan Huruf Vokal Total:4
t adalah Bukan Huruf Vokal Total:4
a adalah Huruf Vokal Total:5
n adalah Bukan Huruf Vokal Total:5
i adalah Huruf Vokal Total:6
a adalah Huruf Vokal Total:7
n adalah Bukan Huruf Vokal Total:7
  adalah Bukan Huruf Vokal Total:7
b adalah Bukan Huruf Vokal Total:7
o adalah Huruf Vokal Total:8
g adalah Bukan Huruf Vokal Total:8
o adalah Huruf Vokal Total:9
r adalah Bukan Huruf Vokal Total:9
Jumlah Total huruf Vokal : 9

In [62]:
#Looping list Comprehension
data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [60]:
#Range 1 parameter
for i in range(6):
    print(f"Nilai i adalah:{i}")

Nilai i adalah:0
Nilai i adalah:1
Nilai i adalah:2
Nilai i adalah:3
Nilai i adalah:4
Nilai i adalah:5

In [56]:
#Range 2 parameter
for j in range(5,10):
    print(f"Nilai j : {j}")

Nilai j : 5
Nilai j : 6
Nilai j : 7
Nilai j : 8
Nilai j : 9

In [86]:
#Cek bilangan prima atau bukan prima 
number = int(input("Isikan Bilangan:")) 
faktor=0
for i in range (1,number+1): 
    if number % i == 0:
        faktor +=1
if faktor ==2:
    print(f"{number} adalah Bilangan Prima")
else:
    print(f"{number} adalah Bukan Prima")

Isikan Bilangan: 4

4 adalah Bukan Prima

In [88]:
#Fakorial
# 3! = 3 * 2 * 1 = 6
total = 1
number = int(input("Isikan Bilangan:"))
for i in range(1,number+1):
    total *= i
print(f"{number}! = {total}")

Isikan Bilangan: 7

7! = 5040

In [105]:
# 1 -2 3 -4 5 -6 7 -8 9 -10
number = int(input("Isikan Bilangan:"))
sign = 1
for i in range(1,number+1):
    result = sign * i
    print(f"{result}  ", end='')
    sign *= -1

Isikan Bilangan: 17

1  -2  3  -4  5  -6  7  -8  9  -10  11  -12  13  -14  15  -16  17

In [111]:
#Hitung jumlah penonton laki laki
#Hitung jumlah penonton perempuan
kursiBioskop = ["L","P","L","P","P","P","L","L","P","P"]

totalLaki = 0
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1

print(f"Jumlah Penonton Laki-Laki:{totalLaki}")
print(f"Jumlah Penonton Perempuan:{len(kursiBioskop)-totalLaki}")

Jumlah Penonton Laki-Laki:4
Jumlah Penonton Perempuan:6

In [115]:
#Hitung jumlah orang yang kemungkinan berpasangan

kursi = ["L","P","L","P","P","P","L","L","P","P"]
couple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi [i+1] :
        couple+=1
print(f"Jumlah Couple:{couple}")

Jumlah Couple:5

In [123]:
data = {
    "fname" : "Acaw",
    "lname" : "Reja"
}
for key,value in data.items():
    print(f"{key} : {value}")

fname : Acaw
lname : Reja

In [ ]:
tahu = [10,10,10,10,10,10,10,10,10]