In [1]:
name = "Sayyid"
age = 22
address,province = " Jl. Kadudampit","7413412"
pythonScore = 90.5
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Provinsi :",province )
print("Nilai Pemograman :",pythonScore)
print("Status Menikah :",isMarried)

Nama : Sayyid
Umur : 22
Alamat :  Jl. Kadudampit
Provinsi : 7413412
Nilai Pemograman : 90.5
Status Menikah : False

In [2]:
print("Tipe Data (nama) :",type(name))
print("Tipe Data (age) :",type(age))
print("Tipe Data (address) :",type(address))
print("Tipe Data (province) :",type(province))
print("Tipe Data (pythonScore) :",type(pythonScore))
print("Tipe Data (isMarried) :",type(isMarried))

Tipe Data (nama) : <class 'str'>
Tipe Data (age) : <class 'int'>
Tipe Data (address) : <class 'str'>
Tipe Data (province) : <class 'str'>
Tipe Data (pythonScore) : <class 'float'>
Tipe Data (isMarried) : <class 'bool'>

In [3]:
#Casting atau Konversi Tipe Data

strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt+2,strToFloat,strToBool)

7413414 7413412.0 True

In [4]:
#Casting

intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr,intToFloat,intToBool)

22 22.0 True

In [5]:
#Casting 

floatToInt = int(pythonScore)
floatToBool = bool(pythonScore)
floatToStr = str(pythonScore)
print(floatToInt,floatToBool,floatToStr)

90 True 90.5

In [6]:
#Casting 
boolToInt = int(isMarried)
boolToStr = str(isMarried)
boolToFloat = float(isMarried)
print(boolToInt,boolToStr,boolToFloat)

0 False 0.0

In [7]:
#String adalah kumpulan dari beberapa karakter dan immutable
city = "Bandung"
panjang = len(city)
print(city[0])
print(city[panjang-1])

B
g

In [8]:
desimal = 500
binner = 0b1111
octal = 0o377
hexa = 0xff

print("Nilai desimal;",desimal)
print("Nilai binner;",binner)
print("Nilai octal;",octal)
print("Nilai hexa;",hexa)


print("binner dari ",desimal,":",bin(desimal))
print("octal dari ",desimal,":",oct(desimal))
print("hexadesimal dari ",desimal,":",hex(desimal))

Nilai desimal; 500
Nilai binner; 15
Nilai octal; 255
Nilai hexa; 255
binner dari  500 : 0b111110100
octal dari  500 : 0o764
hexadesimal dari  500 : 0x1f4

In [10]:
#Tipe Data Collection'
cities = ["Sukabumi","MAlang","Pekanbaru"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[1] = "Pekanbaru"
print(cities)


hobbies = ("Scroll Tiktok","Volly Ball","Membantu Ibu")
print (hobbies)
print(hobbies [0])
#hobbies[0] = "Watching Netflix" error program
studentList = [
    {
       "name" : "Acaw",
       "age" : 20,
       "address" : {
           "street" : "Jl. Kp Pondok Tisuk",
           "number" : 21,
           "province" : "Kab. Sukabumi"
       }
  },
  {
        "name" : "Reja",
        "age" : 21,
        "address" : {
             "street" : "Jl. Kp Babakan",
             "number" : 2,
             "province" : "Kab. Bogor"
    }
}
]
print(studentList[0])

['Sukabumi', 'MAlang', 'Pekanbaru']
Sukabumi
Pekanbaru
['Sukabumi', 'Pekanbaru', 'Pekanbaru']
('Scroll Tiktok', 'Volly Ball', 'Membantu Ibu')
Scroll Tiktok
{'name': 'Acaw', 'age': 20, 'address': {'street': 'Jl. Kp Pondok Tisuk', 'number': 21, 'province': 'Kab. Sukabumi'}}